<html>
  <head>
    <link rel="stylesheet" href="/viaa/application.css" />
    <link rel="shortcut icon" href="/viaa/favicon.ico">
  </head>

  <body>
    <%= erb :menu, :layout => false %>
    <div class="content">
      If correct Authorization key is present this will proxy s3 download
    </div>

  </body>
</html>

